/* Quitando estilos por defecto de nuestro documento */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    /* box-sizing: border-box; Esro asegura que el relleno y el borde esten incluidos
    en el ancho y l altura total de la cajas jtml */
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: relative;
    /* MARGIN : Propiedad abreviada para establecer valores del grosor del área de margen. 
    Si se omite izquierda, es lo mismo que derecha. Si se omite la parte inferior, 
    es lo mismo que la parte superior, si se omite la derecha, es lo mismo que la parte superior. 
    Se permiten valores negativos para las propiedades de margen, 
    pero puede haber límites específicos de implementación. */
    margin: auto;
    /* WIDTH:  Especifica el ancho del área de contenido, 
    el área de relleno o el área del borde (dependiendo del 'tamaño de cuadro') 
    de ciertos cuadros. */
    width: 100%;
    /* HEIGTH:  la altura del área de contenido, 
    el área de relleno o el área del borde (dependiendo del 'tamaño de cuadro') 
    de ciertos cuadros. */
    height: auto;
}


/* Clase (.col-12) para cuando una caja html necesite ocupar las 
12 columnas */

.col-12 {
    text-align: center;
    width: 100%;
    /* Dandole borde y color a la caja que da estilo la clase col-12 */
    border: 1px solid black;
    padding: 20px;
}

.col-6 {
    text-align: center;
    /* Poner a flotar la caja con el atributo float*/
    float: left;
    width: 50%;
    border: 1px solid black;
    padding: 20px;
}

.col-4 {
    text-align: center;
    /* Poner a flotar la caja */
    float: left;
    width: 33.33333333%;
    border: 1px solid black;
    padding: 20px;
}