/* Quitando estilos por defecto de nuestro documento */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    /* box-sizing: border-box; Esro asegura que el relleno y el borde esten incluidos
    en el ancho y l altura total de la cajas jtml */
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: relative;
    /* MARGIN : Propiedad abreviada para establecer valores del grosor del área de margen. 
    Si se omite izquierda, es lo mismo que derecha. Si se omite la parte inferior, 
    es lo mismo que la parte superior, si se omite la derecha, es lo mismo que la parte superior. 
    Se permiten valores negativos para las propiedades de margen, 
    pero puede haber límites específicos de implementación. */
    margin: auto;
    /* WIDTH:  Especifica el ancho del área de contenido, 
    el área de relleno o el área del borde (dependiendo del 'tamaño de cuadro') 
    de ciertos cuadros. */
    width: 100%;
    /* HEIGTH:  la altura del área de contenido, 
    el área de relleno o el área del borde (dependiendo del 'tamaño de cuadro') 
    de ciertos cuadros. */
    height: auto;
}


/* Declarando propiedades para todas las clases que tengan como inicio "col-"
utilizando la declaración entre corchetes */

[class*="col-"] {
    /* Alineando texto que aparece dentro de las cajas al centro */
    text-align: center;
    /* Poner a flotar la caja con el atributo float*/
    float: left;
    /* Dando borde solido con gruso de 1px y de color negro */
    border: 1px solid black;
    /* Dando margen interno a la caja */
    padding: 20px;
}


/* Clase (.col-12) para cuando una caja html necesite ocupar las 
12 columnas */

.col-12 {
    /* Tamaño que va a ocupar la caja a lo ancho */
    width: 100%;
}

.col-6 {
    /* Tamaño que va a ocupar la caja a lo ancho */
    width: 50%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}